tarefildo_whatsapp.json
{
  "name": "🤖 Tarefildo - WhatsApp Bot 🤖",
  "nodes": [
    {
      "parameters": {},
      "id": "8187c795-42d0-47d4-ac53-16992625ba66",
      "name": "WAHA Trigger",
      "type": "@devlikeapro/n8n-nodes-waha.wahaTrigger",
      "typeVersion": 202409,
      "position": [
        4544,
        4288
      ],
      "webhookId": "cfcba07d-7462-418f-9e01-5236d1ee474b"
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Send Seen",
        "participant": "",
        "requestOptions": {}
      },
      "id": "1d3cf636-9347-4c31-862b-a79210d67506",
      "name": "Marcar como Lida",
      "type": "@devlikeapro/n8n-nodes-waha.WAHA",
      "typeVersion": 202409,
      "position": [
        5008,
        4048
      ],
      "credentials": {
        "wahaApi": {
          "id": "F3j9V0WpvTJ6FcNM",
          "name": "WAHA credential"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst payload = data.payload || {};\nconst from = payload.from || '';\nconst remoteJid = payload._data?.key?.remoteJid || '';\n\n// BLOQUEAR: mensagens proprias\nif (payload.fromMe) return [];\n\n// BLOQUEAR: grupos\nif (from.includes('@g.us') || remoteJid.includes('@g.us')) return [];\n\n// BLOQUEAR: status/broadcast/newsletter/lid sem alt\nif (from.includes('@broadcast') || remoteJid.includes('@broadcast')) return [];\nif (from.includes('@newsletter') || remoteJid.includes('@newsletter')) return [];\nif (from === 'status@broadcast' || remoteJid === 'status@broadcast') return [];\n\n// BLOQUEAR: sem texto\nconst text = (payload.body || payload.text || '').trim();\nif (!text) return [];\n\n// RATE LIMIT: ignorar se ultima msg do mesmo remetente foi ha menos de 3 segundos\nconst now = Date.now();\nconst msgTimestamp = (payload.timestamp || 0) * 1000;\nconst globalState = $getWorkflowStaticData('global');\nconst lastMsgKey = 'last_' + from;\nconst lastTime = globalState[lastMsgKey] || 0;\nif (now - lastTime < 3000) return [];\nglobalState[lastMsgKey] = now;\n\n// Limpar entradas antigas (mais de 1 hora) para nao acumular memoria\nfor (const key of Object.keys(globalState)) {\n  if (key.startsWith('last_') && now - globalState[key] > 3600000) {\n    delete globalState[key];\n  }\n}\n\n// Pegar chatId real\nconst chatId = payload._data?.key?.remoteJidAlt || from;\nconst phone = chatId.replace(/@s\\.whatsapp\\.net$/, '').replace(/@c\\.us$/, '').replace(/@lid$/, '').replace(/\\D/g, '');\nconst whatsapp_id = phone + '@c.us';\n\n// Nome do usuario\nconst pushName = payload._data?.pushName || data.me?.pushName || '';\nconst nome = pushName.split(' ')[0] || 'chefe';\n\nreturn [{ json: { phone, whatsapp_id, chatId, text, nome } }];"
      },
      "id": "066f6e86-1e8e-478e-9a6f-7dd615333d46",
      "name": "Filtrar Mensagem",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5008,
        4288
      ],
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH upsert_user AS (\n  INSERT INTO usuarios (id, whatsapp_id, nome, fuso_horario, lembretes_ativos, criado_em)\n  VALUES (gen_random_uuid(), '{{ $json.whatsapp_id }}', 'Novo', 'America/Sao_Paulo', true, NOW())\n  ON CONFLICT (whatsapp_id) DO NOTHING\n  RETURNING id\n)\nSELECT t.id as tarefa_pendente_id, t.titulo as tarefa_pendente_titulo\nFROM tarefas t\nJOIN usuarios u ON u.id = t.usuario_id\nWHERE u.whatsapp_id = '{{ $json.whatsapp_id }}'\nAND t.status = 'AGUARDANDO_DATA'\nORDER BY t.criado_em DESC LIMIT 1;",
        "options": {}
      },
      "id": "c9b0f6e8-fc4f-4ca2-bc22-f6e07b8dfe3c",
      "name": "DB: Verificar Pendência",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        5248,
        4288
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "lkBdUIuFYhIvqukn",
          "name": "Neon Database"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const filtro = $('Filtrar Mensagem').first().json;\nconst dbResult = $input.first().json;\n\nconst temPendencia = dbResult.tarefa_pendente_id ? true : false;\n\nreturn [{ json: { ...filtro, temPendencia, tarefa_pendente_id: dbResult.tarefa_pendente_id || null, tarefa_pendente_titulo: dbResult.tarefa_pendente_titulo || null } }];"
      },
      "id": "55daf542-c7f7-4d71-8f1d-e2bb4bb9e211",
      "name": "Preparar Estado",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5472,
        4288
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "leftValue": "={{ $json.temPendencia }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              },
              "id": "3c314fa8-b38d-457e-b699-eb2153487f0a"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "85471b7b-47cc-41b4-92f8-21260f98d1d0",
      "name": "Tem Pendência?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [
        5696,
        4288
      ]
    },
    {
      "parameters": {
        "jsCode": "const text = $input.first().json.text;\nconst hoje = new Date().toISOString().split('T')[0];\n\nconst prompt = 'O usuario informou uma data para uma tarefa pendente. Extraia a data do texto e retorne APENAS um objeto JSON puro com dois campos: data (formato YYYY-MM-DD) e resposta (confirmacao na voz do Tarefildo Silva das Pendencias que eh um funcionario raiz sarcastico e engracado). Hoje eh ' + hoje + '. Se disser amanha calcule a data. Se disser sexta calcule a proxima sexta. Se nao conseguir extrair a data retorne data vazio e na resposta peca a data novamente no estilo do Tarefildo.';\n\nreturn [{ json: { prompt, text } }];"
      },
      "id": "48605492-f1cd-48da-914a-c65e5df4fda4",
      "name": "Preparar Prompt Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5936,
        4128
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.deepseek.com/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"model\":\"deepseek-chat\",\"messages\":[{\"role\":\"system\",\"content\":\"{{ $json.prompt }}\"},{\"role\":\"user\",\"content\":\"{{ $json.text }}\"}],\"temperature\":0.3,\"max_tokens\":100}",
        "options": {
          "timeout": 15000
        }
      },
      "id": "97ed8c35-6e96-4b15-b5d2-2a21819cefc1",
      "name": "DeepSeek: Extrair Data",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        6160,
        4128
      ],
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 2000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "h8EobmVsCvc5TFvn",
          "name": "DeepSeek API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst state = $('Preparar Estado').first().json;\n\nlet data = '';\nlet resposta = '';\n\ntry {\n  let raw = input.choices[0].message.content.trim();\n  raw = raw.replace(/```json/gi, '').replace(/```/g, '').trim();\n  const match = raw.match(/\\{[\\s\\S]*\\}/);\n  if (match) raw = match[0];\n  const parsed = JSON.parse(raw);\n  data = parsed.data || '';\n  resposta = parsed.resposta || '';\n} catch(e) {\n  data = '';\n  resposta = 'Nao entendi a data. Pode falar tipo \"dia 25\" ou \"proxima sexta\"? 📅';\n}\n\nreturn [{ json: { ...state, data_extraida: data, resposta_data: resposta } }];"
      },
      "id": "02f06401-a39c-4599-b3bf-add38e7aa6e9",
      "name": "Parsear Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6448,
        4128
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "leftValue": "={{ $json.data_extraida }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              },
              "id": "ba9e26c9-1451-4687-b4d4-b437fa118ae4"
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": "={{ false }}",
        "options": {}
      },
      "id": "2f18778a-195a-4613-8702-231f5476b377",
      "name": "Data Válida?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [
        6720,
        4128
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE tarefas SET data_vencimento = '{{ $json.data_extraida }}', status = 'PENDENTE', atualizado_em = NOW()\nWHERE id = {{ $json.tarefa_pendente_id }}\nRETURNING titulo, data_vencimento;",
        "options": {}
      },
      "id": "ce1b5051-6acd-4d3b-b81a-66aee09d18b3",
      "name": "DB: Salvar Data",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        6960,
        4048
      ],
      "credentials": {
        "postgres": {
          "id": "lkBdUIuFYhIvqukn",
          "name": "Neon Database"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const db = $input.first().json;\nconst state = $('Preparar Estado').first().json;\nconst nome = $('Filtrar Mensagem').first().json.nome || 'chefe';\nconst d = db.data_vencimento || '';\nconst titulo = db.titulo || state.tarefa_pendente_titulo;\nlet dataFormatada = '';\nif (d) {\n  const parts = d.split('T')[0].split('-');\n  dataFormatada = `${parts[2]}/${parts[1]}/${parts[0]}`;\n}\nconst msg = `Pronto ${nome}, '${titulo}' agendado pro dia ${dataFormatada}. Isso aqui ja era pra ontem mas pelo menos agora ta no radar 👀 Tamo junto nas pendencias.`;\nreturn [{ json: { chatId: state.chatId, mensagem: msg } }];"
      },
      "id": "b584670a-5691-41cf-9a0b-d0472cd5893e",
      "name": "Confirmar Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        7184,
        4048
      ]
    },
    {
      "parameters": {
        "jsCode": "const state = $('Preparar Estado').first().json;\nconst nome = $('Filtrar Mensagem').first().json.nome || 'chefe';\nconst msg = `${nome}, nao consegui pegar essa data nao. Me fala tipo 'dia 25' ou 'proxima sexta'. Se nao anotar, esquece... e eu nao quero te ver esquecendo 😬`;\nreturn [{ json: { chatId: state.chatId, mensagem: msg } }];"
      },
      "id": "2ba64155-b33e-4efe-a1c9-7c68bf8df30f",
      "name": "Pedir Data Novamente",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6960,
        4224
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst state = $('Preparar Estado').first().json;\n\nif (input.error || !input.choices) {\n  return [{ json: { intent: 'conversa', dados: {}, resposta: 'Opa, tive um probleminha. Tenta de novo? 😅', phone: state.phone, chatId: state.chatId, whatsapp_id: state.whatsapp_id } }];\n}\n\nlet raw = input.choices[0].message.content.trim();\nraw = raw.replace(/```json/gi, '').replace(/```/g, '').trim();\nconst jsonMatch = raw.match(/\\{[\\s\\S]*\\}/);\nif (jsonMatch) raw = jsonMatch[0];\n\nlet parsed;\ntry {\n  parsed = JSON.parse(raw);\n  if ((parsed.intent === 'outro' || parsed.intent === 'conversa') && parsed.resposta && parsed.resposta.includes('\"intent\"')) {\n    const inner = parsed.resposta.match(/\\{[\\s\\S]*\\}/);\n    if (inner) { try { const p = JSON.parse(inner[0]); if (p.intent) parsed = p; } catch(e) {} }\n  }\n} catch(e) {\n  parsed = { intent: 'conversa', dados: {}, resposta: raw.length < 300 ? raw : 'Nao entendi, pode repetir? 🙏' };\n}\n\nif (parsed.intent === 'outro') parsed.intent = 'conversa';\nif (!parsed.resposta) parsed.resposta = 'Tudo certo! 😊';\nif (!parsed.dados) parsed.dados = {};\n\nreturn [{ json: { ...parsed, phone: state.phone, chatId: state.chatId, whatsapp_id: state.whatsapp_id } }];"
      },
      "id": "746ffe2a-66de-4745-89ad-b831cf2ce167",
      "name": "Parsear NLP",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6432,
        4464
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "adicionar_tarefa",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "85d6c89a-b01e-4e49-9b57-661636a208a5"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "adicionar_tarefa"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "listar_tarefas",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "14b9ef61-8727-4c23-b153-9fcbdd1eb90e"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "listar_tarefas"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "concluir_tarefa",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "e6964059-edda-4e87-b438-2f57893ebce8"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "concluir_tarefa"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "adicionar_lembrete",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "ff645d1b-eaa4-456a-b353-352ad7701038"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "adicionar_lembrete"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "listar_lembretes",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "9b187e92-791d-47e3-b911-3813cb1f8b44"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "listar_lembretes"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "18d5796f-58fb-42ae-af5f-f0c935e8e5a2",
      "name": "Roteador",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        6720,
        4448
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst temData = data.dados?.data && data.dados.data.trim() !== '';\nconst status = temData ? 'PENDENTE' : 'AGUARDANDO_DATA';\nconst hora = data.dados?.hora || '';\nreturn [{ json: { ...data, status_tarefa: status, tem_data: temData, hora } }];"
      },
      "id": "7b7e8b30-68e6-4cc7-a5a8-56bc0a8359f0",
      "name": "Tem Data?",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6960,
        4352
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH get_user AS (\n  INSERT INTO usuarios (id, whatsapp_id, nome, fuso_horario, lembretes_ativos, criado_em)\n  VALUES (gen_random_uuid(), '{{ $json.whatsapp_id }}', 'Novo', 'America/Sao_Paulo', true, NOW())\n  ON CONFLICT (whatsapp_id) DO UPDATE SET whatsapp_id = EXCLUDED.whatsapp_id\n  RETURNING id\n)\nINSERT INTO tarefas (usuario_id, titulo, descricao, data_vencimento, hora_vencimento, status, criado_em)\nSELECT id, '{{ $json.dados.titulo }}', '{{ $json.dados.descricao || \"\" }}',\n  {{ $json.tem_data ? \"'\" + $json.dados.data + \"'\" : 'NULL' }},\n  {{ $json.hora ? \"'\" + $json.hora + \"'\" : 'NULL' }},\n  '{{ $json.status_tarefa }}', NOW()\nFROM get_user\nRETURNING id, titulo, data_vencimento, hora_vencimento, status;",
        "options": {}
      },
      "id": "adfd6b1d-a39a-47af-9b62-59cda689cc04",
      "name": "DB: Adicionar Tarefa",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        7184,
        4352
      ],
      "credentials": {
        "postgres": {
          "id": "lkBdUIuFYhIvqukn",
          "name": "Neon Database"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const db = $input.first().json;\nconst state = $('Parsear NLP').first().json;\nconst nome = $('Filtrar Mensagem').first().json.nome || 'chefe';\nlet msg;\n\nif (db.status === 'AGUARDANDO_DATA') {\n  msg = `Anotado aqui, ${nome}: \"${db.titulo}\". Agora nao some nao hein 👀 Me fala a data que eu travo no calendario.`;\n} else {\n  let dataFormatada = '';\n  if (db.data_vencimento) {\n    const parts = db.data_vencimento.split('T')[0].split('-');\n    dataFormatada = `${parts[2]}/${parts[1]}/${parts[0]}`;\n  }\n  const hora = db.hora_vencimento ? db.hora_vencimento.substring(0, 5) : '';\n  if (dataFormatada && hora) {\n    msg = `${nome}, \"${db.titulo}\" travado pro dia ${dataFormatada} as ${hora}. Se nao anotar, esquece. Mas o Tarefildo anotou por voce 😄`;\n  } else if (dataFormatada) {\n    msg = `${nome}, \"${db.titulo}\" marcado pro dia ${dataFormatada}. Confia no processo... e no Tarefildo. Eu te lembro.`;\n  } else {\n    msg = `\"${db.titulo}\" anotado, ${nome}. Bora resolver isso ai.`;\n  }\n}\n\nreturn [{ json: { chatId: state.chatId, mensagem: msg } }];"
      },
      "id": "96506b34-2d4f-48e4-8257-36d243c4bd8e",
      "name": "Resposta Tarefa",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        7408,
        4352
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH upsert_user AS (\n  INSERT INTO usuarios (id, whatsapp_id, nome, fuso_horario, lembretes_ativos, criado_em)\n  VALUES (gen_random_uuid(), '{{ $json.whatsapp_id }}', 'Novo', 'America/Sao_Paulo', true, NOW())\n  ON CONFLICT (whatsapp_id) DO NOTHING\n)\nSELECT t.id, t.titulo, t.data_vencimento, t.hora_vencimento, t.criado_em\nFROM tarefas t\nJOIN usuarios u ON u.id = t.usuario_id\nWHERE u.whatsapp_id = '{{ $json.whatsapp_id }}' AND t.status = 'PENDENTE'\nORDER BY t.data_vencimento ASC NULLS LAST, t.hora_vencimento ASC NULLS LAST LIMIT 20;",
        "options": {}
      },
      "id": "340be0e1-6a71-4dae-a642-ccfb5df92f8e",
      "name": "DB: Listar Tarefas",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        6960,
        4512
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "lkBdUIuFYhIvqukn",
          "name": "Neon Database"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE tarefas SET status = 'CONCLUIDA', atualizado_em = NOW()\nWHERE id = {{ $json.dados.id }}\nAND usuario_id = (SELECT id FROM usuarios WHERE whatsapp_id = '{{ $json.whatsapp_id }}')\nRETURNING titulo;",
        "options": {}
      },
      "id": "55f396d3-2e00-4742-8934-201b741c0ec8",
      "name": "DB: Concluir Tarefa",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        6960,
        4672
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "lkBdUIuFYhIvqukn",
          "name": "Neon Database"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH get_user AS (\n  INSERT INTO usuarios (id, whatsapp_id, nome, fuso_horario, lembretes_ativos, criado_em)\n  VALUES (gen_random_uuid(), $1, 'Novo', 'America/Sao_Paulo', true, NOW())\n  ON CONFLICT (whatsapp_id) DO UPDATE SET whatsapp_id = EXCLUDED.whatsapp_id\n  RETURNING id\n)\nINSERT INTO lembretes (usuario_id, titulo, hora, data, ativo, criado_em)\nSELECT id, $2, $3, NULLIF($4, '__NULL__')::date, true, NOW()\nFROM get_user\nRETURNING id, titulo, hora, data;",
        "queryParameters": ["{{ $json.whatsapp_id }}", "{{ $json.dados.titulo }}", "{{ $json.dados.hora || '08:00' }}", "{{ $json.dados.data || null }}"],
        "options": {}
      },
      "id": "016f86f8-cff2-436a-9f67-eabfc8432676",
      "name": "DB: Adicionar Lembrete",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        6960,
        4832
      ],
      "credentials": {
        "postgres": {
          "id": "lkBdUIuFYhIvqukn",
          "name": "Neon Database"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT l.id, l.titulo, l.hora\nFROM lembretes l\nJOIN usuarios u ON u.id = l.usuario_id\nWHERE u.whatsapp_id = '{{ $json.whatsapp_id }}' AND l.ativo = true\nORDER BY l.hora;",
        "options": {}
      },
      "id": "fa24a727-537b-49cb-bebe-3f723dd51ab9",
      "name": "DB: Listar Lembretes",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        6960,
        4992
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "lkBdUIuFYhIvqukn",
          "name": "Neon Database"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const intent = $('Parsear NLP').first().json.intent;\nconst chatId = $('Parsear NLP').first().json.chatId;\nconst resposta_nlp = $('Parsear NLP').first().json.resposta;\nconst dados = $('Parsear NLP').first().json.dados || {};\nconst nome = $('Filtrar Mensagem').first().json.nome || 'chefe';\nconst items = $input.all();\n\nlet msg;\n\nswitch(intent) {\n  case 'listar_tarefas': {\n    const v = items.filter(i => i.json?.titulo);\n    if (v.length === 0) {\n      msg = `Lista limpa, ${nome}. Ou voce ta muito produtivo ou ta escondendo tarefa de mim 🤨 Confia no Tarefildo.`;\n    } else if (v.length > 5) {\n      const lista = v.map((i, idx) => {\n        let info = '';\n        if (i.json.data_vencimento) {\n          const parts = i.json.data_vencimento.split('T')[0].split('-');\n          info = `${parts[2]}/${parts[1]}/${parts[0]}`;\n        } else { info = 'sem data'; }\n        if (i.json.hora_vencimento) info += ` as ${i.json.hora_vencimento.substring(0, 5)}`;\n        return `${idx+1}. ${i.json.titulo} — ${info}`;\n      }).join('\\n');\n      msg = `${nome}, vou ser sincero: isso aqui ja virou colecao, nao lista 😅\\n\\n${lista}\\n\\nBora resolver isso ai antes que vire bola de neve.`;\n    } else {\n      const lista = v.map((i, idx) => {\n        let info = '';\n        if (i.json.data_vencimento) {\n          const parts = i.json.data_vencimento.split('T')[0].split('-');\n          info = `${parts[2]}/${parts[1]}/${parts[0]}`;\n        } else { info = 'sem data'; }\n        if (i.json.hora_vencimento) info += ` as ${i.json.hora_vencimento.substring(0, 5)}`;\n        return `${idx+1}. ${i.json.titulo} — ${info}`;\n      }).join('\\n');\n      msg = `${nome}, ${v.length} pendencia${v.length > 1 ? 's' : ''} no radar:\\n\\n${lista}\\n\\nNao deixa virar bola de neve nao hein 👀`;\n    }\n    break;\n  }\n  case 'concluir_tarefa': {\n    const t = items[0]?.json?.titulo;\n    msg = t\n      ? `Ai sim, ${nome}! '${t}' riscada da lista 💪 Tarefildo aprova. Menos uma pra conta.`\n      : `Nao achei essa tarefa nao, ${nome}. Me fala o nome certinho que eu resolvo.`;\n    break;\n  }\n  case 'adicionar_lembrete': {\n    const t = items[0]?.json?.titulo || dados.titulo || 'seu lembrete';\n    const h = items[0]?.json?.hora || dados.hora || '';\n    msg = h\n      ? `${nome}, lembrete '${t}' as ${h} anotado. Pode deixar que o Tarefildo nao dorme no ponto 😄`\n      : `${nome}, lembrete '${t}' salvo. Mas sem horario fica dificil te cutucar na hora certa, me passa o horario.`;\n    break;\n  }\n  case 'listar_lembretes': {\n    const v = items.filter(i => i.json?.titulo);\n    if (v.length === 0) {\n      msg = `Zero lembretes, ${nome}. Ta confiando so na memoria? Olha, eu ja vi dar ruim 😬`;\n    } else {\n      const lista = v.map((i, idx) => `${idx+1}. ${i.json.titulo} — ${i.json.hora}`).join('\\n');\n      msg = `${nome}, seus lembretes ativos:\\n\\n${lista}\\n\\nDeixa comigo que eu te cutuco na hora certa. Confia no Tarefildo.`;\n    }\n    break;\n  }\n  case 'ajuda': {\n    msg = `Fala ${nome}, aqui eh o Tarefildo Silva das Pendencias ☕\\n\\nO que eu faco:\\n- 'adiciona tarefa pagar boleto'\\n- 'minhas tarefas'\\n- 'conclui tarefa pagar boleto'\\n- 'me lembra de ligar pro banco as 14h'\\n- 'meus lembretes'\\n\\nSo mandar que eu resolvo. Ja vi coisa pior do que lista de tarefa baguncada.\\n\\nTamo junto nas pendencias.`;\n    break;\n  }\n  default: {\n    msg = resposta_nlp || `Fala ${nome}, aqui eh o Tarefildo. Bora resolver o que precisa ☕`;\n  }\n}\n\nreturn [{ json: { chatId, mensagem: msg } }];"
      },
      "id": "372016ac-f30f-4d98-af83-2d44abb9145c",
      "name": "Formatar Resposta",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        7184,
        4656
      ]
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Send Text",
        "session": "default",
        "chatId": "={{ $json.chatId }}",
        "text": "={{ $json.mensagem }}",
        "requestOptions": {}
      },
      "id": "44480fbf-368a-4bd2-8001-e64594c7ab36",
      "name": "Enviar WhatsApp",
      "type": "@devlikeapro/n8n-nodes-waha.WAHA",
      "typeVersion": 202409,
      "position": [
        7648,
        4400
      ],
      "credentials": {
        "wahaApi": {
          "id": "F3j9V0WpvTJ6FcNM",
          "name": "WAHA credential"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const text = $input.first().json.text;\nconst nome = $input.first().json.nome || 'chefe';\nconst hoje = new Date().toISOString().split('T')[0];\n\nconst prompt = 'Voce eh o Tarefildo Silva das Pendencias, bot assistente de tarefas com personalidade forte bem-humorada e levemente sarcastica. Funcionario raiz, resolve tudo mas da alfinetada leve. Informal, direto, engracado. O usuario se chama ' + nome + ', use o nome dele nas respostas de forma natural. Usa expressoes: bora resolver isso ai, isso aqui ja era pra ontem, nao deixa virar bola de neve, anotado chefe, confia no Tarefildo, tamo junto nas pendencias, se nao anotar esquece. Bordoes: isso eh tarefa ou decoracao porque so ta ali parado, ja vi coisa pior. Emojis moderados maximo 2. Nunca saia do personagem. Seja curto e direto. Responda APENAS com um objeto JSON puro sem markdown contendo os campos: intent (valor deve ser adicionar_tarefa ou listar_tarefas ou concluir_tarefa ou adicionar_lembrete ou listar_lembretes ou ajuda ou conversa), dados (objeto com titulo, descricao, data no formato YYYY-MM-DD, hora no formato HH:MM, id), resposta (frase do Tarefildo usando o nome do usuario). Hoje eh ' + hoje + '. Datas relativas como amanha ou sexta converta para YYYY-MM-DD.';\n\nreturn [{ json: { prompt, text } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5920,
        4448
      ],
      "id": "a3ef4c87-a8f3-4466-8db6-fac43a651b81",
      "name": "Preparar Prompt"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.deepseek.com/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"model\":\"deepseek-chat\",\"messages\":[{\"role\":\"system\",\"content\":\"{{ $json.prompt }}\"},{\"role\":\"user\",\"content\":\"{{ $json.text }}\"}],\"temperature\":0.5,\"max_tokens\":200}",
        "options": {
          "timeout": 15000
        }
      },
      "id": "535fccb3-65a7-4fc2-8549-e4ee05abe88c",
      "name": "DeepSeek NLP",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        6192,
        4464
      ],
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 2000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "h8EobmVsCvc5TFvn",
          "name": "DeepSeek API"
        }
      },
      "onError": "continueErrorOutput"
    }
  ],
  "pinData": {},
  "connections": {
    "WAHA Trigger": {
      "main": [
        [],
        [],
        [],
        [
          {
            "node": "Filtrar Mensagem",
            "type": "main",
            "index": 0
          },
          {
            "node": "Marcar como Lida",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtrar Mensagem": {
      "main": [
        [
          {
            "node": "DB: Verificar Pendência",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB: Verificar Pendência": {
      "main": [
        [
          {
            "node": "Preparar Estado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Estado": {
      "main": [
        [
          {
            "node": "Tem Pendência?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tem Pendência?": {
      "main": [
        [
          {
            "node": "Preparar Prompt Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Preparar Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Prompt Data": {
      "main": [
        [
          {
            "node": "DeepSeek: Extrair Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DeepSeek: Extrair Data": {
      "main": [
        [
          {
            "node": "Parsear Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parsear Data": {
      "main": [
        [
          {
            "node": "Data Válida?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data Válida?": {
      "main": [
        [
          {
            "node": "DB: Salvar Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Pedir Data Novamente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB: Salvar Data": {
      "main": [
        [
          {
            "node": "Confirmar Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Confirmar Data": {
      "main": [
        [
          {
            "node": "Enviar WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pedir Data Novamente": {
      "main": [
        [
          {
            "node": "Enviar WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parsear NLP": {
      "main": [
        [
          {
            "node": "Roteador",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Roteador": {
      "main": [
        [
          {
            "node": "Tem Data?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "DB: Listar Tarefas",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "DB: Concluir Tarefa",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "DB: Adicionar Lembrete",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "DB: Listar Lembretes",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Formatar Resposta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tem Data?": {
      "main": [
        [
          {
            "node": "DB: Adicionar Tarefa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB: Adicionar Tarefa": {
      "main": [
        [
          {
            "node": "Resposta Tarefa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resposta Tarefa": {
      "main": [
        [
          {
            "node": "Enviar WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB: Listar Tarefas": {
      "main": [
        [
          {
            "node": "Formatar Resposta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB: Concluir Tarefa": {
      "main": [
        [
          {
            "node": "Formatar Resposta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB: Adicionar Lembrete": {
      "main": [
        [
          {
            "node": "Formatar Resposta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB: Listar Lembretes": {
      "main": [
        [
          {
            "node": "Formatar Resposta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatar Resposta": {
      "main": [
        [
          {
            "node": "Enviar WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Prompt": {
      "main": [
        [
          {
            "node": "DeepSeek NLP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DeepSeek NLP": {
      "main": [
        [
          {
            "node": "Parsear NLP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "f48343ef-8d29-4f7f-9f20-ab925689d065",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5615ccd35b5f25f57ae9b9aad4dc517f67a024d48d00eeba11ff2b0a007a15b0"
  },
  "nodeGroups": [],
  "id": "F0PpKwOZ7B25AMjh",
  "tags": [
    {
      "name": "automacao",
      "id": "bWTadWrGfkG25cyF",
      "updatedAt": "2026-06-24T16:49:00.367Z",
      "createdAt": "2026-06-24T16:49:00.367Z"
    }
  ]
}